@model IEnumerable<QCO.Models.TblLayoutMonitoringSheet>

@foreach (var item in Model)
{
    <tr>
        <td>@item.Company</td>
        <td>@item.MonitoringDate?.ToString("yyyy-MM-dd")</td>
        <td>@item.BookingNo</td>
        <td>@item.BuyerName</td>
        <td>@item.LineNo</td>
        <td>@item.Total_SMV</td>
        <td>@item.FeedStart</td>
        <td>@item.FeedFinish</td>
        <td>@item.PreStyleFinish</td>
        <td class="text-center">
            <a asp-action="Edit" asp-route-id="@item.Slno" class="btn btn-outline-warning btn-sm rounded-pill shadow-sm">
                <i class="bi bi-pencil-fill"></i> Edit
            </a>
            <a asp-action="Details" asp-route-id="@item.Slno" class="btn btn-outline-info btn-sm rounded-pill shadow-sm">
                <i class="bi bi-eye-fill"></i> Details
            </a>
            <a asp-action="Delete" asp-route-id="@item.Slno" class="btn btn-outline-danger btn-sm rounded-pill shadow-sm">
                <i class="bi bi-trash-fill"></i> Delete
            </a>
        </td>
    </tr>
}
